/* Display width stops */
$app-breakpoint-tablet: 600px;
$app-breakpoint-phone: 420px;

/* App top bar */
$nav-bar-height: 64px;
$nav-bar-height-tablet: 56px;

/* Padding */
$padding-default: 15px;
$padding-small: 10px;
$padding-micro: 5px;
